$main_col:rgb(34, 40, 49);
$second_col: rgb(57, 62, 70);
$third_col:rgb(255, 211, 105);
$neveruse_col:rgb(238, 238, 238);

body{
    padding: 0%;
    margin: 0%;
    background-color: $main_col;
}
#all{
    height: 100vh;
    width: 100vw;
}
#top{
    border: 2px solid $third_col;
    background-color: $second_col;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.product_list{
    color: $third_col;
    width: auto;
    height: auto;
    margin: 40px;
    text-align: center;
    border: 2px solid $third_col;
}
#start_butt{
    background-color: $main_col ;
}
#next_month{
    background-color: $main_col;
    display: none;
}
.product_list:hover{
    background-color: $main_col;
    border: 2px solid $third_col;
}

#day{
    color: $neveruse_col;
    font-size: larger;
}

#bottom{
    height: 88.7%;
    width: 99.7%;
    background-color: $second_col;
    //border: 2px solid $third_col;
    
    .bottom_divs{
        display: none;
    }
}

#country{
    height: 88.7%;
    width: 99.7%;
    background-color: $second_col;
}